# LSTM Stress Level Classification

In [2]:
# Import all packages

import pandas as pd

In [3]:
# Load data set
df = pd.read_csv("./data/estat_nrg_cb_em_en.csv")

In [4]:
df.head()

,DATAFLOW,LAST UPDATE,freq,nrg_bal,siec,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:NRG_CB_EM(1.0),17/01/25 23:00:00,M,AIM,E7000,GWH,AL,2018-01,588.340,NaN
1,ESTAT:NRG_CB_EM(1.0),17/01/25 23:00:00,M,AIM,E7000,GWH,AL,2018-02,542.046,NaN
2,ESTAT:NRG_CB_EM(1.0),17/01/25 23:00:00,M,AIM,E7000,GWH,AL,2018-03,564.343,NaN
3,ESTAT:NRG_CB_EM(1.0),17/01/25 23:00:00,M,AIM,E7000,GWH,AL,2018-04,465.565,NaN
4,ESTAT:NRG_CB_EM(1.0),17/01/25 23:00:00,M,AIM,E7000,GWH,AL,2018-05,476.886,NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35864 entries, 0 to 35863
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     35864 non-null  object
 1   LAST UPDATE  35864 non-null  object
 2   freq         35864 non-null  object
 3   nrg_bal      35864 non-null  object
 4   siec         35864 non-null  object
 5   unit         35864 non-null  object
 6   geo          35864 non-null  object
 7   TIME_PERIOD  35864 non-null  object
 8   OBS_VALUE    35788 non-null  float64
 9   OBS_FLAG     838 non-null    object
dtypes: float64(1), object(9)
memory usage: 2.7+ MB

In [6]:
df.drop(['DATAFLOW', 'LAST UPDATE', 'freq', 'nrg_bal', 'siec', 'OBS_FLAG'], axis=1, inplace=True)

In [15]:
df.head()

  unit geo TIME_PERIOD  OBS_VALUE
0  GWH  AL     2018-01    588.340
1  GWH  AL     2018-02    542.046
2  GWH  AL     2018-03    564.343
3  GWH  AL     2018-04    465.565
4  GWH  AL     2018-05    476.886

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35864 entries, 0 to 35863
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   unit         35864 non-null  object
 1   geo          35864 non-null  object
 2   TIME_PERIOD  35864 non-null  object
 3   OBS_VALUE    35788 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.1+ MB

In [7]:
df.isna().sum()

unit            0
geo             0
TIME_PERIOD     0
OBS_VALUE      76
dtype: int64